@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Room_Booking.Models.UserDb;
@{
    ViewData["Title"] = "SignUp";
}

@section css{
    <link href="@Url.Content("~/css/Login_style.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/Login_style_prefix.css")" rel="stylesheet"/>
}
 <div class="main-container">
        <div class="form-container">
            <div class="form-body">
                <h2 class="title">Log in with</h2>
                <div class="social-login">
                    <ul>
                        <li><a href="#">Google</a></li>
                        <li class="fb"><a href="#">Facebook</a></li>
                    </ul>
                </div><!-- SOCIAL LOGIN -->

                <div class="_or">or</div>

                <form method="post" enctype="multipart/form-data" class="the-form">

                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" placeholder="Enter your email">

                    <label asp-for="Name">Full Name</label>
                    <input asp-for="Name" placeholder="Enter your Name">

                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" placeholder="Enter your Username">

                    <label asp-for="Gender">Gender</label>
                    <input asp-for="Gender"  placeholder="Enter your Gender">

                     <label asp-for="MobileNo">Mobile Number</label>
                    <input asp-for="MobileNo" placeholder="Enter your Mobile Number">

                     <label asp-for="IdProof">Id Number</label>
                    <input asp-for="IdProof" placeholder="Enter your password">

                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" id="password" placeholder="Enter your password">

                    <input type="submit" value="Sign Up">

                </form>

            </div><!-- FORM BODY-->

            <div class="form-footer">
                <div>
                    <span>Already have an account?</span> <a asp-controller="Auth" asp-action="Index">Sign In</a>
                </div>
            </div><!-- FORM FOOTER -->

        </div><!-- FORM CONTAINER -->
    </div>